@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;0,900;1,300;1,600;1,900&family=Spartan:wght@100;200;300&display=swap");
$main-font: "Spartan", sans-serif;
$main-font-size: 20px;
$cite-font: "Nunito", sans-serif; ;
