// main pallette
$main-color: #c1f1ea;
$header-bg-color: #efdfd1;
$main-accent-color: #294477;
$panel-bg-color: rgba(141, 173, 179, 0.4);
$secondary-text-color: #163f4b;
// Landing page background colors
$landing-page-main-bg-color: #efdfd1;
$landing-page-secondary-bg-color: #5b605f;
$landing-page-footer-bg-color: #464646;
// Landing page text colors
$landing-page-main-text-color: #fffffa;
$landing-page-secondary-text-color: #384536;
$landing-page-tertiary-text-color: #adc0c1;
$hover-effect-color: rgb(247, 166, 67);
