table {
  margin-top: 30px;
  border: 2px solid $secondary-text-color;
  width: 90%;

  tr {
    height: 40px;
    font-size: 20px;
    border: 2px solid $secondary-text-color;
    text-align: center;
    th {
      color: $main-accent-color;
    }
  }
  thead {
    margin: 10px;
  }
}
