table {
  margin-top: 30px;
  // border: 2px solid $secondary-text-color;
  width: 90%;

  tbody {
    border: 2px solid $secondary-text-color;
  }
  tr {
    height: 40px;
    font-size: 20px;
    text-align: center;
    .before {
      background-color: $panel-bg-color;
    }
    th {
      color: $main-accent-color;
    }
    .table-el {
      padding-top: 10px;
    }
  }
  thead {
    margin: 10px;
  }
  .main-button-style {
    padding: 5px 10px;
    text-decoration: none;
    color: $landing-page-main-text-color;
    background-color: $main-accent-color;
    border: 1px solid $main-accent-color;
    border-radius: 30px;
    font-family: $main-font;
  }
  .main-button-style:hover {
    color: $hover-effect-color;
  }
}
