.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  h2 {
    @media (max-width: 750px) {
      display: none;
    }
    margin-top: 10px;
    font-family: $cite-font;
    font-size: 20px;
  }
}
