.container {
  background-color: $panel-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 20px;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 0 8px $panel-bg-color;

  h1 {
    @media (max-width: 750px) {
      font-size: 30px;
      margin-bottom: 20px;
    }
    font-size: 40px;
    color: $secondary-text-color;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    @media (max-width: 750px) {
      display: flex;
      flex-direction: column;
      height: 120px;
      margin: 15px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 550px;
    color: $secondary-text-color;
    .taughts {
      @media (max-width: 750px) {
        text-align: center;
        width: 500px;
      }
      width: 200px;
    }
    select {
      font-family: $cite-font;
      border: 3px solid $main-accent-color;
      border-radius: 5px;
    }
    input {
      @media (max-width: 750px) {
        height: 70px;
      }
      margin-top: 20px;
      height: 50px;
      width: 300px;
      border-radius: 5px;
      border: none;
      font-family: $main-font;
      border: 1px solid $main-accent-color;
      background-color: $panel-bg-color;
    }
  }

  .main-button-style {
    margin-top: 40px;
    padding: 10px 20px;
    text-decoration: none;
    color: $landing-page-main-text-color;
    background-color: $main-accent-color;
    border: 1px solid $main-accent-color;
    border-radius: 30px;
    font-family: $main-font;
  }
  .main-button-style:hover {
    color: $hover-effect-color;
  }
}
