.menu {
  position: relative;
  width: 100vw;
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  background-color: $panel-bg-color;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px $panel-bg-color;
}

.menu-container {
  @media (max-width: 750px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  margin: 30px;
  a {
    @media (max-width: 750px) {
      margin-top: 20px;
    }
    margin: 0 7px;
    text-decoration: none;
    color: $landing-page-main-text-color;
  }
  a:hover {
    transition: 1s;
    color: $landing-page-secondary-bg-color;
  }
}
.logo {
  font-weight: 700;
  color: $secondary-text-color;
  margin-left: 20px;
}
