@import "generic/reset";
@import "settings/all";

@import "elements/menu";
@import "elements/mainform";
@import "elements/header";
@import "elements/diary";
@import "elements/meditation";

body {
  background-image: url(images/pexels-stanislav-kondratiev-2908983.jpg);
  background-position: center;
  background-size: cover;
  font-family: $main-font;
  font-size: $main-font-size;
}
