@import "generic/reset";
@import "settings/all";

@import "elements/menu";
@import "elements/mainform";
@import "elements/header";
body {
  background-color: $main-color;
  font-family: $main-font;
  font-size: $main-font-size;
}
